body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.text-center {
    text-align:center
}

.white_background {
	background: white
}

.table th, .table td { 
     border-top: none !important; 
 }

.td-center td {
	valign: middle;
	text-align: center;
}
